#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#month-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

#year-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.calendar-btn {
    padding: 10px;
}

