/* Global styles */
* {
    box-sizing: border-box;
}

/* page.jsx styles*/
#flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* months.jsx styles*/
#month-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* years.jsx styles*/
#year-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* months.jsx & years.jsx  styles*/
.calendar-btn {
    padding: 10px;
}

/* dates.jsx styles */
#main-date-container {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    gap: 8px;

}

.date-container {
    list-style: none;
    width: 80px;
    height: 60px;
    border: 2px solid black;
    border-radius: 5px;
}

.date-container:hover {
    background-color: pink;
}


.color-box {
    background-color: blue;
}